body {
  background-color: #06252a;
}

@media screen and (max-width: 768px) {
  /* mobile version */

  .umang-section, .faces-section {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  .frame {
    height: 73px;
    background-color: #86c8c4;
    width: 100%;
    /* top: 792px; */
  }
 
  .about-umang, .about-faces {
    color: white;
    text-align: justify;
  }
 
}

@media screen and (min-width: 768px) {
  /* desktop version */

  .umang-section {
    display: flex;
    place-content: space-around;
    padding-top: 100px;
    width: 100%;
    padding-bottom: 60px;
  }
  .umang {
    width: 50%;
  }
  .about-umang {
    color: white;
    text-align: justify;
    text-align-last: center;
    width: 40%;
  }
  .frame {
    height: 73px;
    background-color: #86c8c4;
    width: 100%;
    /* top: 792px; */
  }
  .faces-section {
    display: flex;
    place-content: space-around;
    width: 100%;
    padding-bottom: 60px;
    padding-top: 130px;
  }

  .faces {
    width: 50%;
  }
  .about-faces {
    color: white;
    text-align: justify;
    text-align-last: center;
    width: 40%;
  }
}
